@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;700&display=swap');
html,
body{
width: 100%;
height: 1980px;
padding: 0;
margin: 0;
font-family: Inter;
overflow-x: hidden;
background:url('img/Subtract.png') no-repeat 0px -5%/cover;

}
.wrapper{
width: 100%;
height: 100%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    height: 87px;
    padding-right: 0.02%;
    position: absolute;
    z-index: 1;
}
.block__logo a{
    width: 12%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4.234%;
    text-decoration: none;
}
.block__logo img{
    width: 100%;
    height: 60%;
}
.block__logo h1{
    width: 51%;
    height: 64.38%;
    font-size: 24px;
    color: #17453B;
    line-height: 28px;
}
.list{
    margin: 0;
    padding-right: 0;
    margin-right: 14.4595%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
.list__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 60%;
    font-size: 18px;
    list-style: none;

}
.list__link{
    text-decoration: none;
    color: #17453B;
}
.background{
    width: 100%;
    height: 180%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    transform: rotate(-45deg);
    left:18.9%;
    top: -44.77%;
    z-index: 0;
    backdrop-filter: blur(50px);
    border-radius: 100px;
}
.content{
    position: absolute;
    z-index: 1;
    top: 12%;
    left: 0;
    width: 100%;
    height: 80%;
}
.content__item{
    width: 90%;
    margin-left: 24%;
    height: 40%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.content__title{
    width: 100%;
    margin: 0;
    padding: 0;
    color: #17453B;
    font-size: 138px;
    line-height: 160px;
}
.content_p{
    width: 45%;
    font-size: 36px;
    color: white;
    font-weight: 100;
    padding: 0;
    margin: 0;
    /* margin-left: -15%; */
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
}
.hearts{
    display: inline-block;
    position: relative;
    width: 7%;
    height: 25%;
}
.heart1{
    position: absolute;
    z-index: 1;
}
.heart2{
    position: absolute;
    z-index: 3;
    top: 13%;
    left: 5%;
}
.content__imgs{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content_img1{
    margin-left: 12%;
    margin-top: 10%;
    width: 14%;
    height: 62.5%;
    border-radius: 20px;
}
.content_img2{
    width: 27.35%;
    height: 50.539%;
    border-radius: 20px;
}
.block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    height: 50%;
    margin-left: 2%;
    margin-top: 1.3%;
}
.cups__block{
    width: 65%;
    margin-right:30%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}
.cups__block h2{
    width: 90%;
    height: 63px;
    padding: 0;
    margin: 0;
    font-size: 22px;
    background: white;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    padding: 5px;
    text-align-last: center;
}
.coffee_cup{
    width: 108px;
    height: 108px;
}
.block_img1{
    border-radius: 20px;
    width: 19.5%;
    height: 62%;
}
.block_img2{
    border-radius: 20px;
    width: 28.3%;
    height: 62%;
    margin-left: 8%;
}
.text{
    width: 189px;
    height: 189px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 40px;
    color: white;
    background-size: 189px 189px;
    background: url('img/Subtract.png') no-repeat center/cover;
}
.text p{
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-left: 8px;
}
.arabic_imgs{
    width: 60%;
    left: 26%;
    position: absolute;
    top:96%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ohranik{
    height: 249px;
    border-radius: 20px;
}
.img7713{
    margin-top: 2%;
    margin-left: 21.5%;
    border-radius: 20px;
}
.background2{
    position: absolute;
    width: 80%;
    height: 90%;
    background: rgba(23, 69, 59, 0.5);
    backdrop-filter: blur(50px);
    border-radius: 100px;
    top: 72%;
    left: -52%;
    transform: rotate(45deg);
}
.nahuy{
    margin-right: 20%;
    margin-top: 5%;
    font-size: 32px;
    color: #17453B;
    font-weight: 700;
}
#block{
    margin-top: 80%;
    position: relative;
    width: 1520px;
    height: 500px;
}
#cupOfCoffee{
    position: absolute;
    z-index: 100;
    width: 100% !important;
    height: 100% !important;
}