@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
html,
body{
width: 99.98%;
height: 100%;
padding: 0;
margin: 0;
font-family: Inter;
background-image: url(./img/Basically-Coffee-0219-03\ 1.png);
background-size: 100% ;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    height: 87px;
    padding-right: 0.02%;
}
.block__logo{
    width: 12%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4.234%;
}
.block__logo img{
    width: 35%;
    height: 60%;
}
.block__logo h1{
    width: 51%;
    height: 64.38%;
    font-size: 24px;
    color: #17453B;
    line-height: 28px;
}
.list{
    margin: 0;
    padding-right: 0;
    margin-right: 14.4595%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.list__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 60%;
    font-size: 18px;
    list-style: none;

}
.list__link{
    text-decoration: none;
    color: #17453B;
}

img {
    width: 7%;
}
.big{
    position: flex;
width: 90%;
height: 100%;
/* left: 50px; */
/* top: 119px; */
margin: auto;
background: rgba(255, 255, 255, 0.5);
backdrop-filter: blur(82.9012px);
}

h1 {
    color:#17453B;
}

p {
    color: snow;
}
